$primary: #e52b50;
$secondary: #D6CE93;
$secondary-light: rgba(150, 113, 23, 0.2);
$tertiary: #967117;
$white: white;
$black: black;

$font-weights: (
    "thin": 100,
    "extra-light": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700,
    "extra-bold": 800,
    "black": 900,
);