@import "./config", "./funcs", "./mixins";

footer {
    width: 100%;
    padding: 0 5vw;
    background-color: $secondary;

    & .socials-div {
        padding: 5vw 0;
        @include flex-box(row, center, center);

        @include avg-screens {
            padding: 50px 0;
        }

        & .socials {
            border-radius: 50%;
            width: 5vw;
            height: 5vw;
            margin: 0 2vw;

            @include avg-screens {
                width: 50px;
                height: 50px;
                margin: 0 20px;
            }
        }
    }

    & .copyrights-div {
        padding: 2vw 0;
        font-size: 0.9rem;
        text-align: center;
        text-transform: capitalize;
        border-top: 0.05vw solid $tertiary;

        @include avg-screens {
            padding: 20px 0;
            border-top: 0.5px solid $tertiary;
        }

        @media screen and (max-width: 650px) {
            font-size: 0.75rem;
            margin-bottom: 50px;
        }
    }
}